/* helpful defaults */
* { box-sizing: border-box; }
html, body { height: 100%; }

p {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #201910;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* center the content */
body {
  margin: 0;
  display: flex;
  background: #FFFAEE;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
  min-height: 100vh;
}

/* main container */
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 56px;
  margin: 0;
  width: 536px;
}

/* Item Card */
.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: stretch;
  gap: 24px;
}

.item {
  display: flex;
  align-items: center;
  padding: 24px 0px;
  border-bottom: 1px solid #E3E3E3;
  gap: 24px;
}

.item-image img {
  display: block;
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.item-details {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  flex-wrap: nowrap; 
}

.item-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-width: 0;  
}

.detail-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Button */

.add-button {
  inline-size: 40px;
  block-size: 40px;
  border-radius: 999px;
  border: 1px solid #D5D5D5;
  background: #FAFAFA;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background: #ececec;
}

/* Item Card Typeography */

.item-title{
  color: #201910;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
  letter-spacing: -0.25px;
}

.item-ingredients {
  color: #8B8B8B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

.item-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
}

